<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie - Homepage</title>
  </head>
  <body>

    <h1>Hello World</h1><br>
      <h3>Welcome to my site!</h3>

      <form class="" action="/recommender">
        <p>Enter some movie ratings</p>
        <input type="text" name="movie1" value="" placeholder="Enter a Movie Title">
        <input type="text" name="rating1" value="" placeholder="Enter a Rating (1-5)">
        <br>
        <input type="text" name="movie2" value="" placeholder="Enter a Movie Title">
        <input type="text" name="rating2" value="" placeholder="Enter a Rating (1-5)">
        <br>
        <input type="text" name="movie3" value="" placeholder="Enter a Movie Title">
        <input type="text" name="rating3" value="" placeholder="Enter a Rating (1-5)">
        <br>
        <input type="submit" name="" value="Give me suggestions!">
      </form>

  </body>
</html>
